.first-box {
  border: solid 5px black;
  height: 275px;
  margin: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.vert-rec {
  height: 150px;
  width: 50px;
  background-color: purple;
}

.green-rec {
  height: 225px;
  width: 500px;
  background-color: green;
}

.circle {
  width: 250px;
  height: 250px;
  background: lightblue;
  border-radius: 50%;
}

.second-box {
  border: dotted 5px black;
  height: 350px;
  margin: 30px;
}

.inner-box {
  height: 220px;
  background-color: beige;
  margin: 50px;
  padding-top: 25px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.third-box {
  height: 400px;
  width: 550px;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.12);
  margin: 0 auto;
  border: solid 0.5px lightgray;
}

.third-box-text {
  display: flex;
  justify-content: center;
  padding-top: 130px;
  font-family: "Caudex";
}
