body {
  background-color: lightgray;
}

.top-gray {
  background-color: #404040;
  height: 200px;
  width: 100%;
}

.white-middle {
  height: 700px;
  width: 75%;
  margin: 0 auto;
  background-color: white;
}

.gray-bottom {
  height: 100px;
  width: 75%;
  margin: 0 auto;
  background-color: #0d0d0d;
}
